<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Garden from Mars</title>
        <link rel=stylesheet href="site.css">
    </head>
    <script type="text/javascript">
    if (window.location.host == "gobyexample.com") {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34996217-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); 
            ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; 
            s.parentNode.insertBefore(ga, s);
        })();
    }
  </script>
<body>
<div class="example" id="writing-files">
  <h2><a href="./list">List Example Home</a></h2>
<table>
    <tr>
        <td class="docs" colSpan="2">
        <p>General golang HTTP</p>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>HTTP header</p> 
        </td>
        <td class="code leading">
        <a href="/test/protocol"> HTTP Protocol</a>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>From template</p>
        </td>
        <td class="code empty leading">
        <a href="/tpl">Template</a>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>Statistic(none template)</p>
        </td>
        <td class="code leading">
        <a href="/statistic">Statistic</a>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>Advanced Statistic(with template)</p> 
        </td>
        <td class="code leading">
        <a href="/statistics">Advanced Statistic</a>
        </td>
    </tr>
    <tr>
        <td class="docs" colSpan="2">
        <p>API with different protocol</p>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>JSON example</p>
        </td>
        <td class="code leading">
        <a href="/json">JSON API</a>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>Protobuf test</p>
        </td>
        <td class="code leading">
        <a href="/pbt">Protobuf test</a>
        </td>
    </tr>
    <tr>
        <td class="docs">
        <p>Rebuild Protobuf</p>
        </td>
        <td class="code leading">
        <a href="/reproto">Unmarshal/Marshal Protobuf</a>
        </td>
    </tr>
</table>
  
  
<p class="next">
    List index: <a href="/list">list pages</a>.
</p>
  
<p class="footer">
  by <a href="https://github.com/MarsBighead">Github MarsBighead</a> | 
<a href="mailto:duanmhy@gmail.com">feedback</a> | 
<a href="https://github.com/MarsBighead/garden">Garden Source</a> | 
<a href="https://github.com/MarsBighead/garden/blob/master/LICENSE">license MIT</a>
</p>
</div>
  </body>

</html>

